@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600';

@font-face {
  font-family: 'Galano_Grotesque';
  src: url('../images/Galano_Grotesque _DEMO_Bold.otf');
}

* {

	font-family: 'Galano_Grotesque', 'Open Sans', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}
html,
body
{
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}

body {
	background-color: #2196F3;
	padding: 15px;
}

.typhoonContainer,
.authorContainer {
	max-width: 768px;
	width: 100%;
}
#intro,
.authorContainer {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.headerButton {
    width: 100%;
    height: auto;
    color: #f9ee1f;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 5px solid #f9ee1f;
    letter-spacing: 2px;
    overflow: hidden;
    background: transparent;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    cursor: pointer;
    outline: none; 
}

.connection {
	position: fixed;
	height: 50px;
	width: 100%;
	color: white;
	background: #57d48e;
	border-bottom: 2px solid #06a04a;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
	letter-spacing: 2px;
	top: -52px;
	left: 0;
	transition: all 0.35s ease;
}

.connection.active {
	top: 0px;
	transition: all 0.35s ease;
}

.connection.offline {
	background: #d45757;
	border-color: #a00606;
}

.main {
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
}

.typhoonImg {
	margin: 5px auto;
	width: 200px;
	height: 200px;
}

.typhoonImg img {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1200px){
	.typhoonImg {
		width: 300px;
		height: 300px;		
	}
}

@media screen and (max-width: 480px){
	.typhoonImg {
		width: 100px;
		height: 100px;		
	}
}

span {
    color: white;
    letter-spacing: 2px;
}

span.numbers{
    font-size: 2.5em;
}

span.title {
    font-size: 2em;
}

span.tip {
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 4px solid white;
	margin: 20px 0 10px 0;
}

span.explain {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    letter-spacing: 3px;
}

span a {
	color: #f9ee1f;
	font-weight: 600;
	text-decoration: none;
}

.card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }


  .loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .loader #spinner {
      box-sizing: border-box;
      stroke: #673AB7;
      stroke-width: 3px;
      -webkit-transform-origin: 50%;
              transform-origin: 50%;
      -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
              animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }

  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    to {
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg); } }

  @keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    to {
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg); } }

  @-webkit-keyframes line {
    0% {
      stroke-dasharray: 2, 85.964;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    50% {
      stroke-dasharray: 65.973, 21.9911;
      stroke-dashoffset: 0; }
    100% {
      stroke-dasharray: 2, 85.964;
      stroke-dashoffset: -65.973;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

  @keyframes line {
    0% {
      stroke-dasharray: 2, 85.964;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    50% {
      stroke-dasharray: 65.973, 21.9911;
      stroke-dashoffset: 0; }
    100% {
      stroke-dasharray: 2, 85.964;
      stroke-dashoffset: -65.973;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }
